{
  "extends": [
    "stylelint-config-twbs-bootstrap/scss"
  ],
  "rules": {
    "scss/dollar-variable-default": [
      true,
      {
        "ignore": "local"
      }
    ],
    "declaration-no-important": null
  }
}
